
.sg-pagetitle {
  font-size: 2rem;
  text-transform: uppercase;
  padding: 20px 0;
  a {
    display: inline-block;
    font-size: 1.2rem;
  }
}
.sg-title {
  width: 100%;
  border-bottom: 1px solid #BABABA;
  margin-bottom: 20px;
  padding-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
  font-size: 1rem;
}
